page {
  background-color: var(--backColor);
  border-top: 1px solid rgb(214, 214, 214);
}

.btn_wrap {
  width: 100%;
  height: 100rpx;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;

  .iconfont {
    height: 100rpx;
    width: 100rpx;
    min-width: 100rpx;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .cover {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(193, 193, 193);
      opacity: .1;
      border-radius: 50%;
      border-bottom: 1rpx solid #000;
    }
  }

  .iconfont:hover .cover {
    background-color: black;
  }

  input {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    padding: 25rpx 0;
    width: 100%;
    border: 1rpx solid red;
    transition: all 1s ease-in;
  }
}



.find_cart {
  .find_cart_wrap {}
}