page {
  background-color: var(--backColor);
  border-top: 1px solid rgb(214, 214, 214);
  position: relative;
}

.btn_wrap {
  width: 100%;
  height: 100rpx;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;

  .btn_item {
    height: 100rpx;
    width: 100rpx;
    min-width: 100rpx;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .list_cover {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(193, 193, 193);
      opacity: 0.1;
      border-radius: 50%;
      border-bottom: 1rpx solid #000;
    }
  }
}

.iconlist {
  position: relative;

  .toollist {
    position: absolute;
    right: 20rpx;
    top: 125rpx;
    z-index: 100;
    // transform: translateX(-50%);
    background-color: #fcfcfc;
    border-radius: 10rpx;

    .tool_wrap {
      width: 200rpx;
      font-size: 34rpx;
      padding: 15rpx;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .iconfont {
        font-size: 36rpx;
        color: #3798f8;
        margin: 0 20rpx;
      }
    }

    .tool_wrap:not(:last-child) {
      border-bottom: 1rpx solid rgb(206, 206, 206);

    }
  }

  .toollist::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -35rpx;
    right: 0;
    transform: translateX(-50%);
    // top: -40rpx;
    // right: 20rpx;
    border: 25rpx solid;
    border-color: transparent transparent #fcfcfc transparent;
  }
}

.iconfont:hover .list_cover {
  background-color: black;
}

input {
  width: 100%;
  margin: 0 20rpx;
  padding-left: 30rpx;
  border: 1rpx solid rgb(193, 193, 193);
  border-radius: 30rpx;
  font-size: 32rpx;
  color: var(--fontColor);
}

.find_cart {
  .find_cart_wrap {
    margin: 15rpx 0;
    padding: 25rpx;
    background-color: #fff;
    display: flex;

    .find_cart_img {
      flex: 2;

      image {
        margin: 0 auto;
        width: 80%;
        display: block;
      }
    }

    .find_cart_text {
      flex: 5;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .find_cart_title {}

      .find_cart_intro {
        color: #909090;
        font-size: 32rpx;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
      }
    }
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: .4;
  z-index: 10;
}