.container {
  border-top: 1rpx solid #dedede;
  swiper {
    margin-top: 50rpx;
    overflow: visible;
    height: 600rpx;
    .book_item {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .slide_image {
        border-radius: 10rpx;
      }

      .zoom_out {
        transform: scale(0.8);
        transition: all 0.7s ease-out 0s;
      }

      .zoom_in {
        transform: scale(1);
        transition: all 0.7s ease-in 0s;
      }
    }
  }
  .book_intro {
    text-align: center;

    .book_title {
      padding: 20rpx;
      font-size: 38rpx;
      font-weight: 600;
      color: var(--fontColor);
    }
    .book_description {
      padding: 10rpx;
      color: var(--arrowColor);
    }
  }
}
